<html>

<head>
	<title> Log In </title>
</head>

<body>
	<div ng-controller = "LogInCtrl">

		<h1 class = "text-center"> One Moment Please </h1>

		<br>

		<div class="col-md-4"></div>

		<div class="col-md-4">

			<form name = "userForm" ng-submit = "logIn()" novalidate>

				<!-- Email Form -->
				<div class="row input-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">

					<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
					<input type="email" name = "email" class="form-control" ng-model="credentials.email" required placeHolder="Email"/>
				</div>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

				<br>

				<!-- Password Form -->
				<div class="row input-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
				  	<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
					<input type="password" name = "password" class="form-control" ng-model="credentials.password" required placeHolder="Password"/>
				</div>
				<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">A password is required.</p>

				<br>

				<div class = "row">
					<button type = "submit" class = "btn btn-primary btn-block" ng-disabled="userForm.$invalid"> Log In</button>
				</div>

		      	<button type="button" class="btn btn-link center-block" ng-click="switchToSignUp()">Sign Up If you do not have an account</button>

			</form>

			<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-right'}"></toaster-container>

		</div>

		<div class="col-md-4"></div>
	</div>

</body>

</html>