<html>

<head>
	<title> Log In </title>
</head>

<body>
	<div ng-controller = "LogInCtrl">

		<h1 class = "text-center"> Log In </h1>

		<br>
		<br>

		<div class="col-md-4"></div>

		<div class="col-md-4">
			<form ng-submit = "submit(logIn(credentials))">

				<div class="row">
					<input type="email" class="form-control" ng-model="credentials.email" placeHolder="email"/>
				</div>
						
				<br>

				<div class="row">
					<input type="password" class="form-control" ng-model="credentials.password" placeHolder="Password"/>
				</div>

				<br>

				<button type = "submit" class = "btn btn-primary btn-block"> Log In</button>

				<br> 

                <toaster-container toaster-options="{'time-out': 3000, 'close-button':false, 'animation-class': 'toast-right'}"></toaster-container>
                
				<br>

		      	<button type="button" class="btn btn-link center-block" ng-click="switchToSignUp()">Sign Up If you do not have an account</button>

			</form>
		</div>

		<div class="col-md-4"></div>

	</div>

</body>

</html>